body {
  width: 1600px;
  max-width: max-content;
  margin: auto;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
}

.logo h1 {
  margin: 24px 93px 25px 215px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}

.logo a {
  color: #2196f3;
  text-decoration: none;
}

.logo-black {
  color: #000000;
}

.menu {
  margin: 32px 353px 32px 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.menu ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  float: left;
  margin: 0 50px 0px 0px;
}

.menu a {
  color: #212121;
  text-decoration: none;
}
.menu a:hover {
  color: #2196f3;
  text-decoration: none;
}

.adress-top {
  margin: 32px 0px 32px 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.adress-top ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.adress-top ul li {
  float: left;
  margin: 0 50px 0px 0px;
}
.adress-top a {
  color: #757575;
  text-decoration: none;
}
.adress-top a:hover {
  color: #2196f3;
  text-decoration: none;
}

.main-header {
  background: #2f303a;
  width: 1600px;
  height: 600px;
  text-align: center;
}

.main-header p {
  margin: 0;
  padding-top: 200px;
  color: #fff;
  font-family: Roboto;
  font-size: 44px;
  font-style: nor mal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.main-header-button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border: 0px solid;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.atuty {
  margin: 94px 0px 0px 215px;
  display: inline-block;
}

.atuty p {
  width: 270px;
}

.atuty ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.atuty ul li {
  float: left;
  margin: 0 30px 0px 0px;
}

.atuty ul li h4 {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.atuty ul li p {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.what-we-do {
  margin: 94px 0px 0px 215px;
  color: #212121;
}

.what-we-do h2 {
  margin-top: 0px;
  margin-left: 409px;
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 1.08px;
  display: block;
}
.what-we-do ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.what-we-do ul li {
  float: left;
  margin: 0 30px 0px 0px;
}

.our-team {
  width: 1600px;
  height: 648px;
  margin: 94px 0px 0px 0px;
  background: #f5f4fa;
  color: #212121;
  text-align: center;
  display: inline-block;
}

.our-team h2 {
  margin-top: 94px;
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 1.08px;
}
.our-team ul {
  display: block;
  list-style: none;
  margin-top: 0;
  margin-left: 215px;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
}

.our-team ul li {
  float: left;
}

.our-team figure {
  width: 270px;
  height: 368px;
  margin: 0 30px 0 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: inline-block;
}

.our-team figcaption {
  margin-top: 30px;
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.name-team {
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.adress-footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
}

.adress-footer h3 {
  margin: 0;
  padding: 60px 0 0 215px;
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.adress-footer h3 span {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.adress-footer address {
  margin: 20px 0 60px 215px;
  padding: 0;
}
.adress-footer address p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.adress-footer address a {
  margin: 9px 0 0 0;
  padding: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  display: block;
}
